<div id="<%= "position-#{position.id}" %>" class="position card card-body my-3">
  <p class="my-0 px-2"><%= position.title %></p>
  <a data-toggle="collapse" href="#details-<%= position.id %>" role="button" aria-expanded="false" aria-controls="details-<%= position.id %>">
    detalhes
  </a>

  <div class="collapse details" id="details-<%= position.id %>">
    <div class="card card-body">
      <p class="my-0 px-2"><%= position.description %></p>
      <p class="my-0 px-2"><%= position.industry %></p>
      <p class="my-0 px-2"><%= position.salary_from %></p>
      <p class="my-0 px-2"><%= position.salary_to %></p>      
    </div>
  </div>
</div>