<div class="container-fluid">
  <h1 class="text-center">Posição criada para a empresa <%= current_employee.company.name %></h1>
  <div class="mt-4">
      <div class="invite-card">
        <h2 class="text-center mt-4" style="font-size: 1.5rem">Posição: <%= @position.title%></h2>
        <section class="invites-info rounded px-4 py-3">
          <div class="row">
            <div class="col-md-9">
              <p><span>Área:</span> <%= @position.industry %></p>
              <p><span>Descrição:</span> <%= @position.description %></p>
              <p><span>Faixa salarial:</span> <%= number_to_currency @position.salary_from %> - <%= number_to_currency @position.salary_to %> </p>
              <p><span>Regime de Contratação:</span> <%= t("activerecord.attributes.@position.hiring_scheme.#{@position.hiring_scheme}") %></p>
              <p><span>Horário:</span> <%= t("activerecord.attributes.@position.office_hours.#{@position.office_hours}") %></p>
            </div>
          </div>
          </section>
      </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <%= link_to 'Voltar', root_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
</div>
