<div class="modal fade" id="new-interview-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_with url: selection_process_interviews_path(@selection_process), method: 'post' do |form| %>
    <div class="modal-dialog new-interview-modal" role="document">
      <div class="modal-content">
        <section class="modal-header">
          <h5 class="modal-title" id="myModalLabel">
            Agendamento de Entrevista
            <%= @candidate.name %> - <%= @position.title %>
          </h5> 
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
        </section>
        <section class="modal-body">
          <div class="container pt-3">
            <div class="form-group row">
              <%= form.label :date, 'Data/Hora', class: 'col-sm-2 col-form-label' %>
              <div class="row col align-items-center">              
                <%= form.text_field :date, id: 'date-field', class: 'col form-control datepicker', placeholder: 'DD/MM/YYYY', data: {provide: "datepicker", 'date-autoclose': 'true'} %>              
                <%= form.select :time_from, 0..24, {}, id: 'time-from-field', class: 'col form-control', placeholder: 'hh' %>:
                <%= form.select :time_to, 0..24, {}, id: 'time-to-field', class: 'col form-control', placeholder: 'hh' %>
                <input placeholder="Selected time" type="text" id="input_starttime" class="form-control timepicker">
                <label for="input_starttime">Twelve hour clock</label>
              </div>
            </div>
            <div class="form-group row">
              <%= form.label :address, 'Endereço', class: 'col-sm-2 col-form-label' %>
              <div class="row col">
                <%= form.text_field(:address, class: 'form-control') %>
              </div>
            </div>
            <div class="form-group row">
              <%= form.label :format, 'Tipo de entrevista', class: 'col-sm-2 col-form-label' %>
              <div class="row col">
                <%= form.select :format, Interview.formats.map { |k, v| [ I18n.t(:"format.#{k}"), k] }, {}, class: "form-control"  %>
              </div>
            </div>
          </div>
        </section>
        <section class="modal-footer">
          <%= link_to('Cancelar', @candidate, class: 'btn btn-outline-secondary', data: { dismiss: 'modal' }) %>
          <%= form.submit('Agendar', class: 'btn btn-primary') %>
        </section>
      </div>
    </div>
  <% end %>
</div>