<div id="interview-<%=interview.id%>" class="border-top p-3">
  <%= interview.interview_status_badge%><br/>
  <p>
    <b><%= interview.formatting_datetime %></b><br/>
    <%= interview.interview_address %><br/>
    <%= interview.interview_format %><br/>
  </p>
  <section class="row d-flex justify-content-around">
    <%= interview.footer(current_employee || current_candidate) %>
  </section>
</div>