<div class="border-top p-3">
  <%= interview.interview_status_badge%>
  <p>
    <b><%= interview.format_datetime %></b><br/>
    Endereço: <%= interview.address %><br/>
    Formato: <%= I18n.t('format.'+interview.format) %><br/>
  </p>
  <section class="row d-flex justify-content-around">
  <%= interview.decision_buttons %>
  </section>
</div>