<div class="border-top p-2">
  <p><%= interview.format_datetime %></p>
  <address>Endereço: <%= interview.address %></address>
  <p>Formato: <%= interview.format %></p>
  <section class="row d-flex justify-content-around">
    <%= link_to 'Recusar', reject_invites_candidate_path(interview), class: 'btn btn-danger', method: :post %>
    <%= link_to 'Aceitar', accept_invites_candidate_path(interview), class: 'btn btn-success', method: :post %>
  </section>
</div>