<div class="border-top p-3">
  <%= interview.interview_status_badge%><br/>
  <p>
    <b><%= interview.formatting_datetime %></b><br/>
    <%= interview.interview_address %><br/>
    <%= interview.interview_format %><br/>
  </p>
  <section class="row d-flex justify-content-around">
  <% if current_candidate %>
    <%= interview.decision_buttons %>
  <% elsif current_employee %>
    <%= render partial: 'status_picker', locals: {interview: interview} %>
  <% end %>
  </section>
</div>