<article class="container candidate-page">
  <div class="card card-body p-4">
    <div class="row">
      <section class="candidate col-8">
        <div class="row">
          <div class="col-2 image-section">
            <% if candidate.candidate_profile.avatar.attached? %>
              <%= image_tag candidate.candidate_profile.avatar, class: 'image img-thumbnail', style: "border-radius: 0" %>
            <% else %>
              <%= image_tag 'placeholder.png', class:"image", alt: candidate.name %>
            <% end %>
          </div>
          <div class="col-10 content">
            <h4><%= candidate.name %></h4>
            <p class="font-weight-bold text"><%= candidate.occupation %></p>
            <div class="row">
              <div class="col">
                <p class="heading"><%= t('activerecord.attributes.candidate.city') %></p>
                <p class="text"><%= candidate.city %></p>
              </div>
              <div class="col">
                <p class="heading"><%= t('activerecord.attributes.candidate.country') %></p>
                <p class="text"><%= candidate.country %></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="heading"><%= t('activerecord.attributes.candidate_profile.english_proficiency') %></p>
                <p class="text"><%= candidate.candidate_profile.english_proficiency %></p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <p class="lead">Contato</p>
          </div>
          <div class="col-12">
            <p class="heading"><%= t('activerecord.attributes.candidate.email') %></p>
            <p class="text"><%= candidate.email %></p>
          </div>
          <div class="col">
            <p class="heading"><%= t('activerecord.attributes.candidate_profile.skype_username') %></p>
            <p class="text"><%= candidate.candidate_profile.skype_username %></p>
          </div>
          <div class="col">
            <p class="heading"><%= t('activerecord.attributes.candidate_profile.linkedin_profile_url') %></p>
            <p class="text"><%= candidate.candidate_profile.linkedin_profile_url %></p>
          </div>
          <div class="col">
            <p class="heading"><%= t('activerecord.attributes.candidate_profile.github_profile_url') %></p>
            <p class="text"><%= candidate.candidate_profile.github_profile_url %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <p class="heading"><%= t('activerecord.attributes.candidate_profile.coding_languages') %></p>
            <p class="text"><%= candidate.candidate_profile.coding_languages %></p>
          </div>
          <div class="col">
            <p class="heading"><%= t('activerecord.attributes.candidate_profile.skills') %></p>
            <p class="text"><%= candidate.candidate_profile.skills %></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="heading"><%= t('activerecord.attributes.candidate_profile.work_experience') %></p>
            <p class="text"><%= candidate.candidate_profile.work_experience %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <p class="lead">Formação</p>
          </div>
          <div class="col">
            <p class="heading"><%= t('activerecord.attributes.candidate.educational_level') %></p>
            <p class="text"><%= candidate.educational_level %></p>
          </div>
          <div class="col">
            <p class="heading"><%= t('activerecord.attributes.candidate_profile.education') %></p>
            <p class="text"><%= candidate.candidate_profile.education %></p>
          </div>
        </div>
      </section>
      <% if employee_signed_in? %>
        <section class="col-4 employee-notes border border-danger p-0 rounded">
          <div class="container-fluid employee-comments p-0">
            <h6 class="header px-2">Convidar</h6>
            <div class="make-invite p-2">
              <%= render partial: 'invite_form', locals: { candidate: candidate, no_invitable_positions: @employee_candidate_presenter.no_invitable_positions? } %>
            </div>
            <div class="current-invites px-2 pt-2 border-top">
              <%= @employee_candidate_presenter.invited_positions_card %>
            </div>
          </div>
          <div class="container-fluid employee-comments p-0">
            <h6 class="header px-2">Comentários</h6>
            <div class="comments">
              <%= render partial: 'candidate_notes/candidate_note', collection: @notes %>
            </div>
            <div class="new-comment px-2 py-3">
              <%= render partial: 'candidate_notes/form', locals: {candidate: candidate} %>
            </div>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</article>

<div class="container mt-5">
  <div class="row justify-content-center">
      <%= link_to 'Voltar', root_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>
