<div class="candidate card my-3 rounded-lg" id="candidate-<%= candidate.id%>">
  <div class="row no-gutters">
    <div class="image-container col-sm-4 col-md-4 col-lg-3 col-xl-2 rounded-left py-3">
      <% if candidate.candidate_profile.avatar.attached? %>
        <%= image_tag candidate.candidate_profile.avatar, class: 'image img-thumbnail' %>
      <% else %>
        <%= image_tag 'placeholder.png', class:'image img-thumbnail', alt: candidate.name %>
      <% end %>
    </div>
    <div class="details-container">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title"><%= link_to candidate.name, candidate, class: 'text-reset' %></h3>
          </div>
          <div class="spacer"></div>
          <div class="col text-right">
            <p>
              <%= candidate.awaiting_invites_badge %>
              <%= "#{candidate.city}, #{candidate.state}" %>
            </p>
          </div>
        </div>
        <p class="card-text">
          <small class="text-muted"><%= candidate.email %></small>
        </p>
        <p><%= candidate.occupation %></p>
        <p><%= candidate.educational_level %></p>
      </div>
    </div>
  </div>
</div>