<%= form_with url: invite_candidate_path(candidate), method: 'post' do |f| %>
  <div class="form-group">
    <%= f.label :position_id, 'Posição' %>
    <%= f.collection_select :position_id, @positions, :id, :title, {}, class: 'custom-select'  %>
  </div>
  <div class="form-group">
    <%= f.text_field(:message, placeholder: 'Mensagem para o candidato', name: 'invite-message', class: 'form-control') %>
  </div>
  <div class="form-group d-flex justify-content-between">
    <%= link_to 'Adicionar posição', new_position_path %>
    <%= f.submit('Convidar', class: 'btn btn-primary ml-auto', id: 'invite-button', disabled: no_invitable_positions) %>
  </div>
<% end %>
