<% @invites.each do |invite| %>
  <p><%=invite.position.title%></p>
  <p><%=invite.position.salary%></p>
  <p><%=invite.position.industry%></p>
  <p><%=invite.position.description%></p>
  <p><%=invite.position.position_type%></p>

  <%= link_to 'Rejeitar', reject_invites_candidate_path(invite), method: :post %>
  <%= link_to 'Aceitar convite', accept_invites_candidate_path(invite), method: :post %>
<% end %>