<div class="invite-card">
  <section class="invites-header mt-3">
    <%= image_tag invite.candidate.candidate_profile.avatar %>
    <div class="invite-card-infos">
      <h2><%= invite.candidate.name %></h2>
      <%= link_to 'Ver perfil', invite.candidate %>
    </div>
  </section>
  <section class="invites-info rounded px-4 py-3">
    <div class="row">
      <div class="col-md-9">
        <h2><%=invite.position.title%></h2>
        <p><span>Data do convite:</span> <%= l(invite.created_at, format: :long) %></p>
        <p><span>Faixa salarial:</span> <%= number_to_currency invite.position.salary_from %>-<%= number_to_currency invite.position.salary_to %> </p>
        <p><span>Área de atuação:</span> <%=invite.position.industry %></p>
        <p><span>Descrição do cargo:</span> <%=invite.position.description%></p>
        <p><span>Regime de contratação:</span> <%= t("activerecord.attributes.position.hiring_scheme.#{invite.position.hiring_scheme}") %></p>
        <p><span>Horário de expediente:</span> <%= t("activerecord.attributes.position.office_hours.#{invite.position.office_hours}") %></p>
      </div>
      <div class="col-md-3 d-flex align-items-end flex-wrap align-content-end">
      </div>
    </div>
  </section>
</div>
