<div class="selection-process-card">
  <section class="header mt-3">
    <%= image_tag selection_process.invite.candidate.candidate_profile.avatar, class: 'avatar' %>
    <div class="content">
      <h2><%= selection_process.invite.candidate.name %></h2>
      <%= link_to 'Ver perfil', selection_process.invite.candidate %>
    </div>
  </section>
  <section class="content rounded px-4 py-3">
    <div class="row">
      <div class="col-md-9">
        <h2><%= selection_process.invite.position.title%></h2>
        <p><span>Data do convite:</span> <%= l(selection_process.invite.created_at, format: :long) %></p>
        <p><span>Faixa salarial:</span> <%= number_to_currency selection_process.invite.position.salary_from %>-<%= number_to_currency selection_process.invite.position.salary_to %> </p>
        <p><span>Área de atuação:</span> <%=selection_process.invite.position.industry %></p>
        <p><span>Descrição do cargo:</span> <%=selection_process.invite.position.description%></p>
        <p><span>Regime de contratação:</span> <%= t("activerecord.enums.position.hiring_scheme.#{selection_process.invite.position.hiring_scheme}") %></p>
        <p><span>Horário de expediente:</span> <%= t("activerecord.enums.position.office_hours.#{selection_process.invite.position.office_hours}") %></p>
      </div>
      <div class="col-md-3 d-flex justify-content-end flex-wrap align-content-center">
        <%= link_to t('selection_process.messages.see_details'), selection_process_candidates_path(selection_process) %>
      </div>
    </div>
  </section>
</div>
