<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="my-4 row justify-content-center">
            <%= "Seja bem vindo ao portal da empresa #{current_employee.company.name}!" %>
        </h2>
        <div class="row justify-content-center flex-wrap align-content-between">
        <%= link_to 'Criar posição', new_position_path, class: 'btn btn-outline-dark mb-3' %>
        <%= link_to 'Convites enviados', invites_companies_path, class: 'btn btn-outline-dark ml-2 mb-3' %>
        <%= link_to 'Candidatos disponíveis', candidates_path, class: 'btn btn-outline-dark mx-2 mb-3' %>
        <%= @dashboard.company_profile_link %>
        </div>
      </div>
    </div>
  </div>
  <article class="container">
    <div class="row justify-content-center">
      <%= @dashboard.card_render %>
    </div>
  </article>
</div>
