<div class="col-12 bg-white">
  <div class="col-12 col-md-10 offset-md-1 mb-3 pt-3 pb-3">
    <div class="row">
      <div class="col-12 col-md-6">
        <%= @selection_process.logo_process %>
        <div class="float-left pl-2">
          <h5><b><%= @selection_process.company.name %></b></h5>
          <h6 class="lead-4">Seu contato principal é:</h6>

          <p class="mb-0"><small><%= @selection_process.employee.name %></small></p>
          <p class="mb-0"><small>Telefone: <%= @selection_process.company_profile.phone %></small></p>
          <p class="mb-0"><small>Email: <%= @selection_process.employee.email %></small></p>
        </div>
      </div>
      <div class="col-12 col-md-6 text-right">
        <h3><%= @selection_process.position.title %></h3>
        <%= @selection_process.contract_resume %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 mb-5">
        <div class="card card-body mb-0">
          <%= form_with(url: send_message_candidates_path(@selection_process), method: 'post') do |f| %>
            <div class="form-group">
              <%= f.text_area :text, class: 'form-control', rows: '4', placeholder: 'Escreva a sua mensagem' %>
            </div>      
            <%= link_to 'Voltar', :back, class: 'btn btn-info float-left' %>
            <%= f.submit 'Enviar Mensagem', class: 'btn btn-outline-danger float-right' %>
          <% end %>
        </div>
      </div>
      <%= render partial: 'messages', collection: @selection_process.messages.order(id: :desc), as: :message %>
    </div>
  </div>
</div>
  
  