<%= render partial: 'header' %>

<div class="col-12 col-md-10 offset-md-1">
  <%= @selection_process.offers_menu %>

  <div class="row">
    <div class="col-12 col-md-4 h-100">
      <div class="card card-body">
        <header class="text-center">
          <h3 class="my-2">Entrevistas</h3>
          <%= @selection_process.btn_schedule_interview %>
        </header>
        <%= render partial: '/interviews/interview_invite', collection: @interviews, as: :interview %>
      </div>
    </div>
    <div class="col-12 col-md-8 h-100">
      <%= render partial: 'shared/input_field', locals: {input_destiny: send_message_candidates_path(@selection_process), go_back:@selection_process.decorate.go_back_button(current_candidate || current_employee), send_button_message:'Enviar Mensagem'} %>
      <%= render partial: 'messages', collection: @selection_process.messages_show, as: :message %>
    </div>
  </div>
</div>
