<div class="container-fluid bg-light">
  <h1><%= @selection_process.company.name %></h1>
  <div class="row">
    <section class="col-3 card px-0">
    <header class="text-center p-1">
      <h4>Entrevistas</h4>
    </header>
    <%= render partial: '/interviews/interview_invite', collection: @interviews, as: :interview %>
  </section>
    <div class="col-8">
      <%= form_with(url: send_message_candidates_path(@selection_process), method: 'post') do |f| %>
        <div class="form-group">
          <%= f.label :text, "Mensagem:" %>
          <%= f.text_field :text, class: 'form-control' %>
        </div>      
        <%= f.submit 'Enviar', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="card card-body">
      <div class="row">
        <% @selection_process.messages.each do |message| %>
          <div class="col-12 mb-3">
            <div class="jumbotron">
              <h4><%= message.sendable.email %></h4>
              <p><%= message.text %></p>
            </div>
          </div>          
        <% end %>
      </div>
    </div>
  </div>
</div>
