<div class="col-12 bg-white">
  <div class="col-12 col-md-10 offset-md-1 mb-3 pt-3 pb-3">
    <div class="row">
      <div class="col-12 col-md-6">
        <%= @selection_process.logo_process %>
        <h3><%= @selection_process.company.name %></h3>
        <p></p>
      </div>
      <div class="col-12 col-md-6 text-right">
        <h3><%= @selection_process.position.title %></h3>
        <%= @selection_process.contract_resume %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 mb-5">
        <div class="card card-body mb-0">
          <%= form_with(url: send_message_candidates_path(@selection_process), method: 'post') do |f| %>
            <div class="form-group">
              <%= f.text_area :text, class: 'form-control', rows: '4', placeholder: 'Escreva a sua mensagem' %>
            </div>      
            <%= link_to 'Voltar', invites_candidates_path, class: 'btn btn-info float-left' %>
            <%= f.submit 'Enviar Mensagem', class: 'btn btn-outline-danger float-right' %>
          <% end %>
        </div>
      </div>
      <%= render partial: 'messages', collection: @selection_process.messages.order(id: :desc).decorate, as: :message %>
    </div>
  </div>
</div>
  
  