 na <%= @offer.position.company.name %>

<%= link_to 'Ver detalhes', selection_process_candidates_url(@offer.selection_process) %>


# a empresa, a descrição da posição e um link adequado para que o
# candidato acesse a plataforma e veja a proposta.

<h1><%= @offer.candidate.name %>, você recebeu uma proposta para posição de <%= @offer.position.title%>.</h1>
<p>
  Olá <%=@offer.candidate.name%>, <br>
  Estamos felizes de avisar que a empresa <%= @company.name %> te convidou para uma posição de <%= @position.title %>.<br>
  Para ver mais detalhes sobre o convite clique abaixo:
</p>
<%= link_to 'Ver detalhes', invites_candidates_url %>

Atenciosamente,

Equipe Revelinho

'Você recebeu uma proposta para a posição ' +
              @offer.position.title
