<!DOCTYPE html>
<html>
  <head>
    <title>Revelinho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'interviews' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= @flash_alerts %>

    <div class="mb-4">
      <%= yield %>
      <%= yield :javascript %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
